html, body {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 100%; }

@font-face {
  font-family: 'robotoMedium';
  src: url("../fonts/roboto/Roboto-Medium-webfont.eot");
  src: local("robotoMedium"), url("../fonts/roboto/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'robotoLight';
  src: url("../fonts/roboto/Roboto-Light-webfont.eot");
  src: local("robotoLight"), url("../fonts/roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Light-webfont.ttf") format("truetype"); }
@font-face {
  font-family: 'robotoRegular';
  src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
  src: local("robotoRegular"), url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"); }
.clicked {
  color: #169E8D;
  background-color: black; }

body {
  background-image: url(../img/bg02.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #f0f0f0;
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-size: 16px; }
  body div.mainWrapper {
    width: 100%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.19);
    position: relative;
    top: 70px;
    color: #F5F5F5; }
    body div.mainWrapper .home {
      font-family: 'Pacifico', cursive;
      text-align: center;
      position: relative; }
      body div.mainWrapper .home h1 {
        font-size: 5.5em;
        top: 120px;
        position: relative; }
      body div.mainWrapper .home .newsContent {
        width: 100%;
        font-family: 'robotoLight';
        position: relative;
        top: 142px; }
        body div.mainWrapper .home .newsContent article {
          padding: 50px; }
      body div.mainWrapper .home .getStarted {
        position: relative;
        margin-top: 300px; }
        body div.mainWrapper .home .getStarted a {
          text-decoration: none;
          font-family: 'robotoLight';
          color: #FFF;
          background-color: rgba(0, 0, 0, 0.4);
          padding: 30px 40px;
          border-radius: 13px;
          font-size: 1.2em;
          -webkit-transition: all .65s ease-out 0s;
          -moz-transition: all .65s ease-out 0s;
          transition: all .65s ease-out 0s; }
          body div.mainWrapper .home .getStarted a:hover {
            color: #169E8D; }
          body div.mainWrapper .home .getStarted a i {
            font-size: 1.5em;
            margin: 0;
            padding: 0;
            top: 2px;
            left: 10px;
            position: relative; }
  body div.topNav {
    width: 100%;
    height: 50px;
    position: relative;
    top: 30px;
    z-index: 100; }
    body div.topNav nav.topMenu ul {
      list-style: none;
      margin: 0;
      padding: 0;
      float: left;
      padding-left: 30px; }
      body div.topNav nav.topMenu ul li {
        display: inline;
        line-height: 50px;
        padding-right: 15px;
        letter-spacing: 1px; }
        body div.topNav nav.topMenu ul li:last-child {
          padding-right: 0;
          position: relative; }
        body div.topNav nav.topMenu ul li > ul.sub-menu {
          position: absolute;
          top: 21px;
          left: 0;
          width: 100%;
          list-style: none;
          padding: 0;
          margin: 0;
          background-color: rgba(255, 255, 255, 0.12); }
          body div.topNav nav.topMenu ul li > ul.sub-menu > li {
            text-align: left;
            padding: 0;
            line-height: normal;
            padding: 2px;
            display: inherit; }
            body div.topNav nav.topMenu ul li > ul.sub-menu > li > i {
              color: #fff; }
            body div.topNav nav.topMenu ul li > ul.sub-menu > li > a {
              width: 82%;
              text-decoration: none;
              color: #fafafa;
              display: inline-block;
              font-family: 'robotoRegular';
              -webkit-transition: all .65s ease-out 0s;
              -moz-transition: all .65s ease-out 0s;
              transition: all .65s ease-out 0s; }
              body div.topNav nav.topMenu ul li > ul.sub-menu > li > a:hover {
                cursor: pointer;
                color: #169E8D; }
        body div.topNav nav.topMenu ul li a {
          text-decoration: none;
          color: #FFF;
          font-family: 'robotoRegular';
          font-size: .85em;
          background-color: transparent;
          border-radius: 5px;
          padding: 2px 7px;
          -webkit-transition: all .65s ease-out 0s;
          -moz-transition: all .65s ease-out 0s;
          transition: all .65s ease-out 0s; }
          body div.topNav nav.topMenu ul li a:hover {
            cursor: pointer;
            color: #169E8D;
            background-color: black; }
          body div.topNav nav.topMenu ul li a:hover, body div.topNav nav.topMenu ul li a:active, body div.topNav nav.topMenu ul li a:focus {
            outline: 0; }
    body div.topNav nav.registration {
      height: 50px;
      line-height: 43px;
      float: right;
      padding-right: 30px;
      font-family: 'robotoLight';
      color: #fff; }
      body div.topNav nav.registration label {
        font-size: .85em;
        height: 75%;
        padding: 5px;
        border-radius: 7px;
        -webkit-transition: all .65s ease-out 0s;
        -moz-transition: all .65s ease-out 0s;
        transition: all .65s ease-out 0s; }
        body div.topNav nav.registration label:hover {
          cursor: pointer;
          color: #169E8D;
          background-color: black; }
      body div.topNav nav.registration i {
        color: #fff; }

/*# sourceMappingURL=core.css.map */
